.head-password>div {
  margin-top: 40px;
}

.head-password>div>div>input {
  margin-right: 5px;
  border: none;
  padding: 5px;
  width: 100%;
}

.save-button {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-left: 25%;
  background-color: #DF7F1D;
  width: 150px;
  height: 40px;
  border-radius: var(--bd-radius-g);
  border: none;
  color: #000;
  font-size: 25px;
}

.icon-span {
  margin-right: 5px;
}