.body-password > div {
  margin-top: 3vmin;
}

.body-password > div > div > input {
  margin-right: 0.2vmin;
  border: none;
  outline: none;
  padding: 0.7vmin;
  width: 35vmin;
  height: 3.5vmin;
  font-size: 2vmin;
}

.body-password > div > div > label > svg {
  width: 2vmin;
  margin-right: 0.5vmin;
}

.save-button {
  display: flex;
  justify-content: center;
  margin-top: 5.5vmin;
  margin-left: 30%;
  background-color: #DF7F1D;
  width: 15vmin;
  height: 4.5vmin;
  border-radius: var(--bd-radius-g);
  border: none;
  color: #000;
  font-size: 2.5vmin;
}

.title-input{
  font-size: 2vmin;
}